<section class=" landing-section h-screen w-screen bg-black text-center overflow-hidden relative">
    <div class="flex flex-col relative z-20 h-full">
        <header class="">
            <h2 class="text-white pt-40 text-4xl font-medium">Disfrute de Tesla</h2>
            <p class="text-white text-sm pt-3">
                Progame una prueba deconduccion hoy mismo
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end text-white pb-36 ">
            <div>
                <a href="#" class="border-[3px] border-white rounded px-11 py-2 text-sm font-medium hover:bg-white hover:text-black transition-colors">Prueba de conduccion</a>
            </div>
            
        </footer>
    </div>


</section>