<section class="landing-section h-screen w-screen bg-black text-center overflow-hidden relative" data-header-color="black">
    <div class="flex flex-col relative z-20 h-full">
        <header class="">
            <h2 class="text-[#171a20] pt-40 text-4xl font-medium">Solar y Powerwall</h2>
            <p class=" text-sm pt-3 text-[#171a20]">
                Energia para todos
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end text-white pb-36 ">
            <div>
                <a href="#" class="border-[3px] border-[#171a20] bg-[#171a20] rounded px-11 py-2 text-sm font-medium hover:bg-[#393c41] hover:border-[#393c41] transition-colors">Saber mas</a>
            </div>
            
        </footer>
    </div>


   <img src="/public/solar.avif" class="object-cover h-full w-full absolute top-0 bottom-0">
</section>